node_modules
package
build
twamp-*.tgz
twamp*.config.json

#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars

# .tfplan files
*.tfplan

# WebStorm
.idea
